body {
    font-family: Arial, sans-serif;
}

header {
    background-color: black; /* Cambia el color de fondo a un naranja brillante */
    opacity: 80%;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    transition: all 0.3s ease; 
}

nav ul li:hover {
    font-size: 1.2rem; 
    color: #ff4500; /* Cambia el color al pasar el mouse */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
    background-color: #f0f8ff; /* Cambia el color de fondo de las secciones a un azul claro */
    color: #333; /* Cambia el color del texto a un gris oscuro para contraste */
}

#about img {
    max-width: 150px;
    border-radius: 50%;
    transition: all 0.3s ease; 
}

.project {
    border: 1px solid white; /* Cambia el color del borde a un rosa claro */
    padding: 1rem;
    margin: 1rem 0;
    background-color: black; /* Cambia el color de fondo de cada proyecto a un amarillo claro */
    opacity: 80%;
    color: white; /* Cambia el color del texto a un morado oscuro para contraste */
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ccc;
    opacity: 80%;
}

form label {
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.7rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

